body {
	background-image: url("background.jpeg");
	background-repeat: no-repeat;
	background-position: center;
}
h1 {
	text-align: center;
	background-color: #cca1f5;
	font-family: Courier new, monospace;
	border-color: blue;
	border-style: dotted;
	border-width: 2px;
	padding: 10px 15px 10px 15px;
	width: 250px;
	margin-bottom: 20px;
}
p {
	text-align: justify;
	background-color: hsl(271, 46%, 64%);
	font-style: italic;
	padding: 20px;
	border-color: black;
	border-style: dotted ridge dashed double;
	border-width: 3px;
	width: 500px;
}
span {
	font-weight: bold;
	font-style: italic;
	color: rgb(250, 190, 236);
	margin: 0px 5px 0px 2px;
}
